html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    scale: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
}

.temp-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
